
::-webkit-scrollbar{
  display: none;
}

*{
  margin: 0;
  padding: 0;
}

body{
  position: absolute;
  background-color: red;
  margin: 0;
}

#titlediv{
  background-image: url("./resources/fire1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
}
#testo{
  position: absolute;
  width: 100vw;
  height: auto;
}
#titlequizz{
  width: 100%;
  color: rgba(255,255,255,0.8);
  font-size: 5em;
  font-family: 'Fascinate', cursive;
  top: 10%;
  text-align: center;
  position: relative;
  z-index: 5;
}

#resume{
  position: relative;
  background-color: green;
  width: 100vw;
  height: 50vh;
}



#bardiv{
position: sticky;
top: 0;
background-color: pink;
width: 100vw;
height: 10vh;
}
#bar{
position: relative;
bottom: -5%;
margin: auto;
background-color: blue;
width: 90%;
height: 90%;
border-radius: 45px;
overflow: hidden;
}
#barimg{
background-image: url("./resources/fire.gif");
background-repeat: repeat;
border-radius: 45px;
height: 100%;
width: 5%;
transition: 1s all;
}


.questiondiv{
  background-color: white;
  width: 100vw;
  height: 100vh;
}
.question{
  height: 20%;
  text-align: center;
}
.reponse{
  top: 25%;
  width: 100%;
  height: 50%;
  text-align: center;
}
.reponse > div{
  display: inline-block;
  margin: 2%;
  width: 20vw;
}
.reponse label div{
width: 20vw;
height: 20vw;
overflow: hidden;
border-radius: 5%;
}
.reponse img{
  height: 20vw;
  width: auto;
  transition: 1s all;
}
.reponse > div:hover img{
  margin-left: -1vw;
  height: 22vw;
}
.reponse h6{
  transition: 1s all;
  font-size: 2em;
}
.reponse input:checked + div{
  border: solid 5px black;
}
